/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    overflow: hidden;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/bg-photo.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay suave */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

/* Conteúdo */
.content {
    position: relative;
    text-align: center;
    z-index: 2;
}

/* Logo central */
.main-logo {
    width: 180px;
    margin-bottom: 20px;
}

/* Subtítulo */
.subtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    font-weight: 300;
}

/* Botão */
.btn-primary {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 50px;
    background: #c62828;
    color: #fff;
    font-size: 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.btn-primary:hover {
    background: #a21919;
}