.container {
    display: flex;
}

.sidebar {
    width: 25%;
    background: #fff;
    padding: 20px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.legenda {
    list-style: none;
    margin-top: 10px;
}

.legenda .cor {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 3px;
}

.muito-alto {
    background: #1a9629;
}

.alto {
    background: #46bb1e;
}

.medio {
    background: #f1c232;
}

.baixo {
    background: #f39c12;
}

.muito-baixo {
    background: #c0392b;
}

.indisponivel {
    background: #ccc;
}

.descricao p {
    text-align: justify;
}

.map-area {
    width: 75%;
    padding: 20px;
    position: relative;
}

#map-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 600px;
    background: #ddd;
    border-radius: 12px;
    border: none;
}

.top-doadores-card {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.top-doadores-card img {
    width: 150px;
    height: 100%;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container .btn-doador {
    padding: 8px 50px;
    background: #c62828;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.btn-container .btn-doador:hover {
    background: #a21919;
}

li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.map-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    background: #fff;
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.map-controls button {
    width: 40px;
    height: 40px;
    border: none;
    background: #fff;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.map-controls button:hover {
    background: #c9c9c9;
}
