/* PÓDIO ESQUERDA*/

.container {
    display: flex;
}

.sidebar {
    width: 40%;
    background: #fff;
    padding: 20px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.legenda {
    list-style: none;
    margin-top: 10px;
}

.legenda .cor {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 3px;
}

.descricao p {
    text-align: justify;
}


.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15% 0px 0px 0px;
}

.btn-container .btn-doador {
    padding: 8px 50px;
    background: #c62828;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.btn-container .btn-doador:hover {
    background: #a21919;
}

.podium-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    margin-top: 40px;
    text-align: center;
}

/* Cada item */
.podium-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

/* Foto */
.podium-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

/* Nome */
.podium-name {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

/* Informações abaixo */
.podium-info {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.podium-info p {
    margin: 5px 0;
}

/* Responsivo */
@media (max-width: 700px) {
    .podium-container {
        gap: 20px;
    }
    .podium-item {
        width: 120px;
    }
    .podium-photo {
        width: 70px;
        height: 70px;
    }
}

.space {
    margin: 100px 100px 0px 0px;
}

/* LISTA DIREITA */

.ranking-list {
    padding: 20px;
    border-radius: 12px;
    width: 100%;
}

.ranking-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
    color: #222;
}

.ranking-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ranking-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 880px;
    padding: 14px 12px;
    border-radius: 10px;
    transition: 0.2s;
    background: #fff;
    margin-bottom: 6px;
    border: 1px solid #ececec;
}

.ranking-item:hover {
    background: #ffe2cc;
    border-color: #ff8a00;
}

.rank-position {
    font-weight: 700;
    font-size: 18px;
    width: 50px;
    color: #ff8a00;
}

.rank-name {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

.rank-score {
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

/* Responsivo */
@media (max-width: 700px) {
    .rank-position,
    .rank-score {
        font-size: 14px;
    }
    .rank-name {
        font-size: 14px;
    }
}
